@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Ubuntu&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
}

body {
    background-image: url("./img/skillsBack.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
   text-align: center;
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

img {
    width: 20em;
    position: relative;
    bottom: -300%;
    transition: all .5s ease-in;
    margin-top: 4em;
}

button {
    position: relative;
    top: -40%;
    background-color: rgb(3, 105, 168);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    padding: 8px;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(236, 51, 5);
    transition: all .2s ease-in-out;
}

.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 10px 7%;
    align-items: center;
    z-index: 1000;
}

h1 {
    color: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #111;
    margin: 5px;
    box-sizing: border-box;
    display: block;
}

.love {
    background-color: rgba(1, 217, 255, 0.479);
    padding: 10px;
    position: relative;
    bottom: -100%;
    transition: all .3s ease-in-out;
    border-radius: 9px;
}

.love h1 {
    color: #fff;
}

.love:hover {
    background-color: rgba(255, 1, 22, 0.479);
    color: #fff;
}

@media only screen and (max-width: 550px) {
    .love {
        font-size: .6rem;
    }

    img {
        width: 14rem;
    }
}
